* { box-sizing: border-box: }

body {
    perspective: 800px;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffffe1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 30%;
    height: 20%;
    transform-style: preserve-3d;
    transform: rotateX(0);
    transition-property: transform;
    transition-duration: 800ms;
    transform-origin: center;
    transition-timing-function: ease-in-out;
}

.container:hover {
    transform: rotateX(-90deg);
}

.button {
    margin: 0 ;
    width: 100%;
    height: 100%;
    font-size: 170%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
    /* border-radius: 30%; */
}

.btn1 {
    border: 8px solid rgb(38, 121, 216);
    background-color: rgb(38, 121, 216);
    color: white;
    transform: rotateX(90deg) translateZ(2.4em);
}
.btn2 {
    background-color: white;
    color: rgb(38, 121, 216);  
    border: 8px solid rgb(38, 121, 216);
    transform: translateZ(2.4em);
}